body{
    font-family: Helvetica, "黑体";
    font-size: 0.75em;
    line-height: 150%;
    letter-spacing:normal;
    background-color: #f1fafa;
}

h1{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 0.9em;
    font-weight: bold;
}

h3{
    font-size: 0.85em;
    font-weight: bold;
}

table{
    white-space: nowrap;
}

td{
    border: 1px solid #404040;
}

p{
    margin-left: 2.5em;
    text-indent: -2.3em;
    font-size: 0.85em;
}

h4{
    font-weight: 100;
    margin-left:6em;
    text-indent: -3.5em;
    font-size: 0.85em;
}

span{
    margin-left: 2.5em;
    font-size: 0.85em;
    text-indent: -1.7em;
}
